.calc {
	display: grid;
	grid-template-columns:1fr 1fr 1fr 1fr;
	max-width: 500px;
	margin:0 auto;
}

.calc .display {
	grid-column:1 / span 4;
}
.calc > * {
    margin:5px
}

h1 {
    text-transform:uppercase;
    font-family:arial;
    text-align:center;
}

input{
    padding:30px;
    text-align: left;
    font-size:2em;
}
button {
    color: black;
    padding: 10px 0;
    text-align: center;
    font-size:2em;
}
.clear {
     background:linear-gradient(#ffe360, #ffc02a);
}

.eq {
    background:linear-gradient(#b2ea6d, #8aba4e);
}